<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tranqui RPSLS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/solid.min.css">
</head>
<body>

    <div class="container">
        <header class="my-5">
            <h1 class="display-4">Rock Paper Scissors Lizard Spock</h1>
            <h3>Prueba Técnica - Sebastián Gaviria</h3>
        </header>

        {% if player %}

            <nav class="navbar navbar-light bg-light">
                <a href="{% url 'game:index' %}">Game list</a>
                <div>
                    <span class="navbar-brand mb-0 h1">{{ player.name }}</span>
                    <a href="{% url 'game:leave' %}" class="btn btn-outline-secondary">Leave</a>
                </div>
            </nav>
    
        {% endif %}

        {% block content %}{% endblock %}

    </div>
    
</body>
</html>