{% extends 'game/base.html' %}
{% load game_extras %}

{% block content %}

    <h1 class="my-3">Game {{ game.id }}</h1>

    <div class="row">
        {% for move in moves %}
            <div class="col">
                <button class="btn btn-outline-{{ move|movetovariationclass}} btn-lg btn-block py-5 d-flex flex-column align-items-center">
                    <i class="fas fa-hand-{{ move|lower }} h1"></i>
                    {{ move|title }}
                </button>
            </div>
        {% endfor %}
    </div>

{% endblock %}