{% extends 'game/base.html' %}

{% block content %}
        
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-primary btn-lg btn-block">
                    <i class="fas fa-hand-rock"></i>
                    Rock
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-success btn-lg btn-block">
                    <i class="fas fa-hand-paper"></i>
                    Paper
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-warning btn-lg btn-block">
                    <i class="fas fa-hand-scissors"></i>
                    Scissors
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-danger btn-lg btn-block">
                    <i class="fas fa-hand-lizard"></i>
                    Lizard
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-info btn-lg btn-block">
                    <i class="fas fa-hand-spock"></i>
                    Spock
                </button>
            </div>
        </div>

{% endblock %}