{% extends 'game/base.html' %}

{% block content %}
        
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Create new game</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatum dignissimos maxime similique iusto porro, maiores neque exercitationem, quos, eos inventore magnam aut. Consequatur corporis magni exercitationem quos maxime. Exercitationem.
                    </p>
                    <form action="{% url 'game:new' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">New Game</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}