{% extends 'game/base.html' %}

{% block content %}    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-5">
                <div class="card-body">
                    <h5 class="card-title">Enter to the game</h5>
                    <p class="card-text">Enter your player name below to access your previously created profile or create a new one.</p>
                    <form action="{% url 'game:enter' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" placeholder="Enter player name" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Enter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}